<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>Sentiment Analyzer</title>
  </head>
    <body class="bg-dark">
        <div class="container">
            <div class="jumbotron jumbotron-fluid bg-white">
                <div class="container">
                    <h1 class="display-4 text-center">Public Sentiment Analyzer</h1>
                    <p class="lead">
                        This sentiment analyzer takes a list of Twitter handles and analyzes the tweets and news
                        articles associated with each user. The score is a compound metric, computed by summing 
                        the scores of each word and then normalized on a scale between -1 (most negative) and 1 (most positive). 
                        For more information on the score calculation, <a href="https://github.com/cjhutto/vaderSentiment#about-the-scoring" target="_blank">click here</a>.
                    </p>
                </div>
            </div>
            <div class="container bg-white" id="results">    
            </div>
        </div>

    <!-- Optional JavaScript -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <script src="../static/js/index.js"></script>
    <script src="../static/js/justgage.js"></script>
    <script src="../static/js/raphael-2.1.4.min.js"></script>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>